# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.12.0=pypi_0
asgiref=3.3.4=pypi_0
astor=0.8.1=pypi_0
ca-certificates=2021.5.25=haa95532_1
cached-property=1.5.2=pypi_0
certifi=2021.5.30=py37haa95532_0
click=8.0.1=pypi_0
django=3.2.4=pypi_0
dnspython=1.16.0=pypi_0
eventlet=0.31.0=pypi_0
flask=2.0.1=pypi_0
greenlet=1.1.0=pypi_0
grpcio=1.38.0=pypi_0
h5py=2.10.0=pypi_0
image=1.5.33=pypi_0
importlib-metadata=4.5.0=pypi_0
itsdangerous=2.0.1=pypi_0
keras=2.2.5=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
markdown=3.3.4=pypi_0
markupsafe=2.0.1=pypi_0
numpy=1.20.3=pypi_0
openssl=1.1.1k=h2bbff1b_0
pandas=1.2.4=pypi_0
pillow=8.2.0=pypi_0
pip=21.1.1=py37haa95532_0
protobuf=3.17.2=pypi_0
python=3.7.10=h6244533_0
python-dateutil=2.8.1=pypi_0
python-engineio=3.13.0=pypi_0
python-socketio=4.6.1=pypi_0
pytz=2021.1=pypi_0
pyyaml=5.4.1=pypi_0
scipy=1.6.3=pypi_0
setuptools=52.0.0=py37haa95532_0
six=1.16.0=pypi_0
sqlite=3.35.4=h2bbff1b_0
sqlparse=0.4.1=pypi_0
tensorboard=1.14.0=pypi_0
tensorflow-estimator=1.14.0=pypi_0
tensorflow-gpu=1.14.0=pypi_0
termcolor=1.1.0=pypi_0
typing-extensions=3.10.0.0=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
werkzeug=2.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
wincertstore=0.2=py37_0
wrapt=1.12.1=pypi_0
zipp=3.4.1=pypi_0
